<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JuWaOh.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <JuWaOh.Properties.Settings>
            <setting name="elements" serializeAs="String">
                <value>&lt;elements&gt;
	&lt;element imgPath="asset/elements/nature.png"&gt;Nature&lt;/element&gt;
	&lt;element imgPath="asset/elements/participation.png"&gt;Participation&lt;/element&gt;
&lt;/elements&gt;</value>
            </setting>
        </JuWaOh.Properties.Settings>
    </userSettings>
</configuration>